html {
    scroll-behavior: smooth;
    scroll-padding: 5vh;
}

body {
    background-color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
}

footer {
    min-height: 40vh;
}

#headingGroup {
    line-height: 5em;
}

#headingGroup .name {
    color: #ea1c2c;
    font-weight: 600;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

section {
    min-height: 95vh;
}

.section-style h2 {
    color: #ea1c2c;
    line-height: 1.75;
}

.section-style p {
    font-weight: 500;
    line-height: 1.75;
}

.about-section,
.skills-section {
    background-color: #d9d9d9;
}

.contacts-section{
    height: 30vh;
}

.visiting {
    font-weight: 600;
}

.section-container{
    min-height: 70vh;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

#mainNavbar .navbar-nav {
    font-size: 1.25rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
}


.jumbotron {
    background-color: #f7f7f7;
    margin-top: 100px;
    margin-bottom: 80px;
}